.flows_azure_red.json.backup
[{"id":"d641167e.32f588","type":"tab","label":"フロー 1"},{"id":"255b9199.1bb69e","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}}},"site":{"name":"Node-RED ダッシュボード","hideToolbar":"false","allowSwipe":"false","dateFormat":"YYYY/MM/DD","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"d09fd3eb.fc3d1","type":"mssql-ps-serverconf","z":"","name":"SQLService","host":"izufrdb01.database.windows.net","encryption":true,"database":"izufrdb01","timeout":"15000"},{"id":"3a51126d.f6105e","type":"http in","z":"d641167e.32f588","name":"GetAll","url":"/api/:salesOrganizationCD/:counterBrandCD/:skiprows/:pageline","method":"get","upload":false,"swaggerDoc":"","x":90,"y":100,"wires":[["739ae9db.f4dd38","72fb19fd.accb28"]]},{"id":"739ae9db.f4dd38","type":"function","z":"d641167e.32f588","name":"パラメータ一覧検索用","func":"msg.params = {\n\tsalesOrganizationCD : msg.req.params.salesOrganizationCD,\n\tcounterBrandCD : msg.req.params.counterBrandCD,\n\tskiprows: msg.req.params.skiprows,\n\tpageline: msg.req.params.pageline,\n\tcontactName :\n\t\tmsg.payload.contactName ?\n\t\t\t'%' + msg.payload.contactName.replace(/[_%\\\\[#]/,\"\\\\$&\") + '%'\n\t\t\t: null,\n\tactiveFlg : msg.payload.activeFlg,\n\torderClass : msg.payload.orderClass,\n\torderItem : msg.payload.orderItem\n};\n\nreturn msg;\n","outputs":1,"noerr":0,"x":280,"y":100,"wires":[["9f39671c.3a17a8"]]},{"id":"1367a594.bdf62a","type":"debug","z":"d641167e.32f588","name":"DbgGetAllOut","active":true,"console":"false","complete":"true","x":740,"y":140,"wires":[]},{"id":"8e496121.a76b7","type":"http response","z":"d641167e.32f588","name":"GetAllRes","statusCode":"","headers":{},"x":720,"y":100,"wires":[]},{"id":"9f39671c.3a17a8","type":"node-red-contrib-mssql-ps","z":"d641167e.32f588","server":"d09fd3eb.fc3d1","debug":false,"params":[{"paramname":"salesOrganizationCD","paramtype":"VarChar","paramoptsone":"4","paramoptstwo":""},{"paramname":"counterBrandCD","paramtype":"VarChar","paramoptsone":"2","paramoptstwo":""},{"paramname":"skiprows","paramtype":"Int","paramoptsone":"","paramoptstwo":""},{"paramname":"contactName","paramtype":"NVarCharMAX","paramoptsone":"","paramoptstwo":""},{"paramname":"activeFlg","paramtype":"Int","paramoptsone":"","paramoptstwo":""},{"paramname":"pageline","paramtype":"Int","paramoptsone":"","paramoptstwo":""},{"paramname":"orderClass","paramtype":"Int","paramoptsone":"","paramoptstwo":""},{"paramname":"orderItem","paramtype":"VarChar","paramoptsone":"255","paramoptstwo":""}],"sql":"SELECT\n\tCOUNT(*) OVER () AS [LineCount],\n\tMCNTCT_SalesOrganizationCD,\n\tMCNTCT_CounterBrandCD,\n\tMCNTCT_ContactCD,\n\tMCNTCT_ContactName,\n\tMCNTCT_OrderDisplay,\n\tMCNTCT_ActiveFlg,\n\tMCNTCT_FlgChangeDate,\n\tMCNTCT_Note,\n\tMCNTCT_UpdateEmployeeCD,\n\tMCNTCT_UpdateDatetime\nFROM\n\tM_Contact\nWHERE\n\tMCNTCT_SalesOrganizationCD = @salesOrganizationCD\n\tAND MCNTCT_CounterBrandCD = @counterBrandCD\n\tAND (\n\t\t@contactName IS NULL\n\t\tOR (\n\t\t\tMCNTCT_ContactName LIKE @contactName ESCAPE '\\'\n\t\t)\n\t)\n\tAND (\n\t\t@activeFlg IS NULL\n\t\tOR MCNTCT_ActiveFlg = @activeFlg\n\t)\nORDER BY\n\t(\n\t\tCASE\n\t\t\tWHEN @orderClass = 1 THEN\n\t\t\t\tCASE\n\t\t\t\t\tWHEN @orderItem = 'MCNTCT_ContactCD' THEN MCNTCT_ContactCD\n\t\t\t\t\tWHEN @orderItem = 'MCNTCT_OrderDisplay' THEN MCNTCT_OrderDisplay\n\t\t\t\t\tWHEN @orderItem = 'MCNTCT_UpdateDatetime' THEN MCNTCT_UpdateDatetime\n\t\t\t\t\tELSE 0\n\t\t\t\tEND\n\t\t\tELSE 0\n\t\tEND\n\t) ASC,\n\t(\n\t\tCASE\n\t\t\tWHEN @orderClass = 2 THEN\n\t\t\t\tCASE\n\t\t\t\t\tWHEN @orderItem = 'MCNTCT_ContactCD' THEN MCNTCT_ContactCD\n\t\t\t\t\tWHEN @orderItem = 'MCNTCT_OrderDisplay' THEN MCNTCT_OrderDisplay\n\t\t\t\t\tWHEN @orderItem = 'MCNTCT_UpdateDatetime' THEN MCNTCT_UpdateDatetime\n\t\t\t\t\tELSE 0\n\t\t\t\tEND\n\t\t\tELSE 0\n\t\tEND\n\t) DESC,\n\t(\n\t\tCASE\n\t\t\tWHEN @orderClass = 3 THEN\n\t\t\t\tCASE\n\t\t\t\t\tWHEN @orderItem = 'MCNTCT_ContactName' THEN MCNTCT_ContactName\n\t\t\t\t\tWHEN @orderItem = 'MCNTCT_UpdateEmployeeCD' THEN MCNTCT_UpdateEmployeeCD\n\t\t\t\t\tELSE ''\n\t\t\t\tEND\n\t\t\tELSE ''\n\t\tEND\n\t) ASC,\n\t(\n\t\tCASE\n\t\t\tWHEN @orderClass = 4 THEN\n\t\t\t\tCASE\n\t\t\t\t\tWHEN @orderItem = 'MCNTCT_ContactName' THEN MCNTCT_ContactName\n\t\t\t\t\tWHEN @orderItem = 'MCNTCT_UpdateEmployeeCD' THEN MCNTCT_UpdateEmployeeCD\n\t\t\t\t\tELSE ''\n\t\t\t\tEND\n\t\t\tELSE ''\n\t\tEND\n\t) DESC,\n\tMCNTCT_ContactCD\n\tOFFSET @skiprows ROWS\n\tFETCH NEXT @pageline ROWS ONLY\n","name":"一覧検索クエリ","x":500,"y":100,"wires":[["8e496121.a76b7","1367a594.bdf62a"]]},{"id":"4208f428.12831c","type":"http in","z":"d641167e.32f588","name":"Add","url":"/api/:salesOrganizationCD/:counterBrandCD","method":"post","upload":false,"swaggerDoc":"","x":90,"y":460,"wires":[["1e440e47.a0d3c2","acee905c.1a756"]]},{"id":"72fb19fd.accb28","type":"debug","z":"d641167e.32f588","name":"DbgGetAllIn","active":true,"console":"false","complete":"true","x":250,"y":140,"wires":[]},{"id":"1e440e47.a0d3c2","type":"function","z":"d641167e.32f588","name":"LoopStart","func":"if (msg.loop == null) {\n    msg.orgPrm = msg.payload;\n    msg.loop = 0;\n    msg.results = [];\n}\nmsg.data = msg.orgPrm[msg.loop];\n\nreturn msg;","outputs":1,"noerr":0,"x":280,"y":460,"wires":[["a984488a.d44388"]]},{"id":"acee905c.1a756","type":"debug","z":"d641167e.32f588","name":"AddIn","active":true,"console":"false","complete":"true","x":230,"y":520,"wires":[]},{"id":"a984488a.d44388","type":"function","z":"d641167e.32f588","name":"パラメータ追加用","func":"msg.params = {\n\tsalesOrganizationCD : msg.req.params.salesOrganizationCD,\n\tcounterBrandCD : msg.req.params.counterBrandCD,\n\tcontactName : msg.data.contactName,\n\torderDisplay : msg.data.orderDisplay,\n\tactiveFlg : msg.data.activeFlg,\n\tflgChangeDate : msg.data.flgChangeDate,\n\tnote : msg.data.note,\n\tupdateEmployeeCD : msg.data.updateEmployeeCD,\n};\n\nreturn msg;","outputs":1,"noerr":0,"x":510,"y":460,"wires":[["2db8243e.088a7c"]]},{"id":"2db8243e.088a7c","type":"node-red-contrib-mssql-ps","z":"d641167e.32f588","server":"d09fd3eb.fc3d1","debug":false,"params":[{"paramname":"salesOrganizationCD","paramtype":"VarChar","paramoptsone":"4","paramoptstwo":""},{"paramname":"counterBrandCD","paramtype":"VarChar","paramoptsone":"2","paramoptstwo":""},{"paramname":"contactName","paramtype":"NVarChar","paramoptsone":"50","paramoptstwo":""},{"paramname":"orderDisplay","paramtype":"Int","paramoptsone":"","paramoptstwo":""},{"paramname":"activeFlg","paramtype":"Int","paramoptsone":"","paramoptstwo":""},{"paramname":"flgChangeDate","paramtype":"VarCharMAX","paramoptsone":"","paramoptstwo":""},{"paramname":"note","paramtype":"NVarChar","paramoptsone":"255","paramoptstwo":""},{"paramname":"updateEmployeeCD","paramtype":"VarChar","paramoptsone":"20","paramoptstwo":""}],"sql":"INSERT INTO M_Contact (\n\tMCNTCT_SalesOrganizationCD,\n\tMCNTCT_CounterBrandCD,\n\tMCNTCT_ContactCD,\n\tMCNTCT_ContactName,\n\tMCNTCT_OrderDisplay,\n\tMCNTCT_ActiveFlg,\n\tMCNTCT_FlgChangeDate,\n\tMCNTCT_Note,\n\tMCNTCT_UpdateEmployeeCD,\n\tMCNTCT_UpdateDatetime\n) OUTPUT INSERTED.MCNTCT_ContactCD\nSELECT\n\t@salesOrganizationCD,\n\t@counterBrandCD,\n\t(\n\t\tSELECT ISNULL(MAX(MCNTCT_ContactCD),0)+1 FROM M_Contact WHERE\n\t\t\tMCNTCT_SalesOrganizationCD = @salesOrganizationCD\n\t\t\tAND MCNTCT_CounterBrandCD = @counterBrandCD\n\t),\n\t@contactName,\n\t@orderDisplay,\n\t@activeFlg,\n\tCONVERT(DATETIME,@flgChangeDate),\n\t@note,\n\t@updateEmployeeCD,\n\tGETDATE()\n","name":"追加クエリ","x":730,"y":460,"wires":[["3c1c4408.4427bc"]]},{"id":"3c1c4408.4427bc","type":"function","z":"d641167e.32f588","name":"LoopEnd","func":"for (var rec in msg.payload) {\n    msg.results.push(msg.payload[rec].MCNTCT_ContactCD);\n}\n//msg.results.push(msg.payload);\n\nmsg.loop += 1;\n\nif (msg.loop < msg.orgPrm.length) {\n    return [msg, null];\n} else {\n    msg.payload = msg.results;\n    return [null, msg];\n}\n","outputs":"2","noerr":0,"x":480,"y":520,"wires":[["1e440e47.a0d3c2"],["6ae3427e.5a20bc","3625d3a7.8d0d8c"]]},{"id":"6ae3427e.5a20bc","type":"http response","z":"d641167e.32f588","name":"AddRes","statusCode":"","headers":{},"x":720,"y":520,"wires":[]},{"id":"3625d3a7.8d0d8c","type":"debug","z":"d641167e.32f588","name":"AddOut","active":true,"console":"false","complete":"true","x":720,"y":560,"wires":[]},{"id":"1028989a.51aaf7","type":"http in","z":"d641167e.32f588","name":"Update","url":"/api/:salesOrganizationCD/:counterBrandCD","method":"put","upload":false,"swaggerDoc":"","x":90,"y":660,"wires":[["4269af6d.02804","e92e4222.bb89e"]]},{"id":"e92e4222.bb89e","type":"function","z":"d641167e.32f588","name":"LoopStart","func":"if (msg.loop == null) {\n    msg.orgPrm = msg.payload;\n    msg.loop = 0;\n    msg.results = [];\n}\nmsg.data = msg.orgPrm[msg.loop];\n\nreturn msg;","outputs":1,"noerr":0,"x":280,"y":660,"wires":[["cdd589c8.0f6198"]]},{"id":"4269af6d.02804","type":"debug","z":"d641167e.32f588","name":"UpdateIn","active":true,"console":"false","complete":"true","x":240,"y":720,"wires":[]},{"id":"cdd589c8.0f6198","type":"function","z":"d641167e.32f588","name":"パラメータ更新用","func":"msg.params = {\n\tsalesOrganizationCD : msg.req.params.salesOrganizationCD,\n\tcounterBrandCD : msg.req.params.counterBrandCD,\n\tcontactCD: msg.data.contactCD,\n\tcontactName : msg.data.contactName,\n\torderDisplay : msg.data.orderDisplay,\n\tactiveFlg : msg.data.activeFlg,\n\tflgChangeDate : msg.data.flgChangeDate,\n\tnote : msg.data.note,\n\tupdateEmployeeCD : msg.data.updateEmployeeCD,\n};\n\nreturn msg;","outputs":1,"noerr":0,"x":507.10003662109375,"y":660,"wires":[["439c6a76.cf7dd4"]]},{"id":"439c6a76.cf7dd4","type":"node-red-contrib-mssql-ps","z":"d641167e.32f588","server":"d09fd3eb.fc3d1","debug":false,"params":[{"paramname":"salesOrganizationCD","paramtype":"VarChar","paramoptsone":"4","paramoptstwo":""},{"paramname":"counterBrandCD","paramtype":"VarChar","paramoptsone":"2","paramoptstwo":""},{"paramname":"contactName","paramtype":"NVarChar","paramoptsone":"50","paramoptstwo":""},{"paramname":"orderDisplay","paramtype":"Int","paramoptsone":"","paramoptstwo":""},{"paramname":"activeFlg","paramtype":"Int","paramoptsone":"","paramoptstwo":""},{"paramname":"flgChangeDate","paramtype":"VarCharMAX","paramoptsone":"","paramoptstwo":""},{"paramname":"note","paramtype":"NVarChar","paramoptsone":"255","paramoptstwo":""},{"paramname":"updateEmployeeCD","paramtype":"VarChar","paramoptsone":"20","paramoptstwo":""},{"paramname":"contactCD","paramtype":"Int","paramoptsone":"","paramoptstwo":""}],"sql":"UPDATEs M_Contact SET\n\tMCNTCT_ContactName = CASE\n\t\tWHEN ISNULL(@contactName,'#@NV@#') <> ISNULL(MCNTCT_ContactName, '#@NV@#')\n\t\t\tTHEN @contactName\n\t\tELSE MCNTCT_ContactName\n\tEND,\n\tMCNTCT_OrderDisplay = CASE\n\t\tWHEN ISNULL(@orderDisplay,'#@NV@#') <> ISNULL(MCNTCT_OrderDisplay, '#@NV@#')\n\t\t\tTHEN @orderDisplay\n\t\tELSE MCNTCT_OrderDisplay\n\tEND,\n\tMCNTCT_ActiveFlg = CASE\n\t\tWHEN ISNULL(@activeFlg,'#@NV@#') <> ISNULL(MCNTCT_ActiveFlg, '#@NV@#')\n\t\t\tTHEN @activeFlg\n\t\tELSE MCNTCT_ActiveFlg\n\tEND,\n\tMCNTCT_FlgChangeDate = CASE\n\t\tWHEN ISNULL(CONVERT(DATETIME,@flgChangeDate),CONVERT(DATETIME,'1900-01-01 12:34:56'))\n\t\t\t<> ISNULL(MCNTCT_FlgChangeDate, CONVERT(DATETIME,'1900-01-01 12:34:56'))\n\t\t\tTHEN CONVERT(DATETIME,@flgChangeDate)\n\t\tELSE MCNTCT_FlgChangeDate\n\tEND,\n\tMCNTCT_Note = CASE\n\t\tWHEN ISNULL(@note,'#@NV@#') <> ISNULL(MCNTCT_Note, '#@NV@#')\n\t\t\tTHEN @note\n\t\tELSE MCNTCT_Note\n\tEND,\n\tMCNTCT_UpdateEmployeeCD = CASE\n\t\tWHEN (ISNULL(@contactName,'#@NV@#') <> ISNULL(MCNTCT_ContactName, '#@NV@#'))\n\t\t\tOR (ISNULL(@orderDisplay,'#@NV@#') <> ISNULL(MCNTCT_OrderDisplay, '#@NV@#'))\n\t\t\tOR (ISNULL(@activeFlg,'#@NV@#') <> ISNULL(MCNTCT_ActiveFlg, '#@NV@#'))\n\t\t\tOR (ISNULL(CONVERT(DATETIME,@flgChangeDate),CONVERT(DATETIME,'1900-01-01 12:34:56'))\n\t\t\t\t<> ISNULL(MCNTCT_FlgChangeDate, CONVERT(DATETIME,'1900-01-01 12:34:56')))\n\t\t\tOR (ISNULL(@note,'#@NV@#') <> ISNULL(MCNTCT_Note, '#@NV@#'))\n\t\tTHEN @updateEmployeeCD\n\t\tELSE MCNTCT_UpdateEmployeeCD\n\tEND,\n\tMCNTCT_UpdateDatetime = CASE\n\t\tWHEN (ISNULL(@contactName,'#@NV@#') <> ISNULL(MCNTCT_ContactName, '#@NV@#'))\n\t\t\tOR (ISNULL(@orderDisplay,'#@NV@#') <> ISNULL(MCNTCT_OrderDisplay, '#@NV@#'))\n\t\t\tOR (ISNULL(@activeFlg,'#@NV@#') <> ISNULL(MCNTCT_ActiveFlg, '#@NV@#'))\n\t\t\tOR (ISNULL(CONVERT(DATETIME,@flgChangeDate),CONVERT(DATETIME,'1900-01-01 12:34:56'))\n\t\t\t\t<> ISNULL(MCNTCT_FlgChangeDate, CONVERT(DATETIME,'1900-01-01 12:34:56')))\n\t\t\tOR (ISNULL(@note,'#@NV@#') <> ISNULL(MCNTCT_Note, '#@NV@#'))\n\t\tTHEN GETDATE()\n\t\tELSE MCNTCT_UpdateDatetime\n\tEND\nOUTPUT inserted.MCNTCT_ContactCD\nWHERE\n\tMCNTCT_SalesOrganizationCD = @salesOrganizationCD\n\tAND MCNTCT_CounterBrandCD = @counterBrandCD\n\tAND MCNTCT_ContactCD = @contactCD\n","name":"更新クエリ","x":730,"y":660,"wires":[["1b53e02b.35441"]]},{"id":"1b53e02b.35441","type":"function","z":"d641167e.32f588","name":"LoopEnd","func":"for (var rec in msg.payload) {\n    msg.results.push(msg.payload[rec].MCNTCT_ContactCD);\n}\n//msg.results.push(msg.payload);\n\nmsg.loop += 1;\n\nif (msg.loop < msg.orgPrm.length) {\n    return [msg, null];\n} else {\n    msg.payload = msg.results;\n    return [null, msg];\n}\n","outputs":"2","noerr":0,"x":480,"y":720,"wires":[["e92e4222.bb89e"],["132a4a7d.674696","1cd8fbb9.c962f4"]]},{"id":"132a4a7d.674696","type":"http response","z":"d641167e.32f588","name":"UpdateRes","statusCode":"","headers":{},"x":730,"y":720,"wires":[]},{"id":"1cd8fbb9.c962f4","type":"debug","z":"d641167e.32f588","name":"UpdateOut","active":true,"console":"false","complete":"true","x":730,"y":760,"wires":[]},{"id":"4fe0e5ca.9d205c","type":"catch","z":"d641167e.32f588","name":"クエリエラー","scope":["9f39671c.3a17a8","50eb7ce0.779334","439c6a76.cf7dd4","fbd392bc.d12f","2db8243e.088a7c"],"x":110,"y":1080,"wires":[["b94e5bc2.23e4f8"]]},{"id":"b94e5bc2.23e4f8","type":"function","z":"d641167e.32f588","name":"エラー編集","func":"msg.payload = {\n    error: msg.error\n};\nreturn msg;","outputs":1,"noerr":0,"x":290,"y":1080,"wires":[["4b5e461.79ac0b8","2ecb8af4.d965c6"]]},{"id":"4b5e461.79ac0b8","type":"http response","z":"d641167e.32f588","name":"QueryErrorRes","statusCode":"200","headers":{},"x":500,"y":1080,"wires":[]},{"id":"2ecb8af4.d965c6","type":"debug","z":"d641167e.32f588","name":"QueryError","active":true,"console":"false","complete":"true","x":490,"y":1140,"wires":[]},{"id":"59e98163.414c4","type":"http in","z":"d641167e.32f588","name":"Delete","url":"/api/:salesOrganizationCD/:counterBrandCD","method":"delete","upload":false,"swaggerDoc":"","x":90,"y":860,"wires":[["a4dc4fe6.4d6cf","d98c8c58.3691d"]]},{"id":"a4dc4fe6.4d6cf","type":"debug","z":"d641167e.32f588","name":"DeleteIn","active":true,"console":"false","complete":"true","x":240,"y":920,"wires":[]},{"id":"d98c8c58.3691d","type":"function","z":"d641167e.32f588","name":"LoopStart","func":"if (msg.loop == null) {\n    msg.orgPrm = msg.payload;\n    msg.loop = 0;\n    msg.results = [];\n}\nmsg.data = msg.orgPrm[msg.loop];\n\nreturn msg;","outputs":1,"noerr":0,"x":280,"y":860,"wires":[["2f2da03.dc6116"]]},{"id":"2f2da03.dc6116","type":"function","z":"d641167e.32f588","name":"パラメータ更新用","func":"msg.params = {\n\tsalesOrganizationCD : msg.req.params.salesOrganizationCD,\n\tcounterBrandCD : msg.req.params.counterBrandCD,\n\tcontactCD: msg.data.contactCD\n};\n\nreturn msg;","outputs":1,"noerr":0,"x":510,"y":860,"wires":[["50eb7ce0.779334"]]},{"id":"50eb7ce0.779334","type":"node-red-contrib-mssql-ps","z":"d641167e.32f588","server":"d09fd3eb.fc3d1","debug":false,"params":[{"paramname":"salesOrganizationCD","paramtype":"VarChar","paramoptsone":"4","paramoptstwo":""},{"paramname":"counterBrandCD","paramtype":"VarChar","paramoptsone":"2","paramoptstwo":""},{"paramname":"contactCD","paramtype":"Int","paramoptsone":"","paramoptstwo":""}],"sql":"DELETE FROM M_Contact\nOUTPUT deleted.MCNTCT_ContactCD\nWHERE\n\tMCNTCT_SalesOrganizationCD = @salesOrganizationCD\n\tAND MCNTCT_CounterBrandCD = @counterBrandCD\n\tAND MCNTCT_ContactCD = @contactCD\n","name":"削除クエリ","x":730,"y":860,"wires":[["4af1b873.0f5388"]]},{"id":"4af1b873.0f5388","type":"function","z":"d641167e.32f588","name":"LoopEnd","func":"for (var rec in msg.payload) {\n    msg.results.push(msg.payload[rec].MCNTCT_ContactCD);\n}\n//msg.results.push(msg.payload);\n\nmsg.loop += 1;\n\nif (msg.loop < msg.orgPrm.length) {\n    return [msg, null];\n} else {\n    msg.payload = msg.results;\n    return [null, msg];\n}\n","outputs":"2","noerr":0,"x":480,"y":920,"wires":[["d98c8c58.3691d"],["67649bba.4612f4","cf17f01f.07b94"]]},{"id":"67649bba.4612f4","type":"http response","z":"d641167e.32f588","name":"DeleteRes","statusCode":"","headers":{},"x":730,"y":920,"wires":[]},{"id":"cf17f01f.07b94","type":"debug","z":"d641167e.32f588","name":"DeleteOut","active":true,"console":"false","complete":"true","x":720,"y":960,"wires":[]},{"id":"4eafd681.a0e068","type":"http in","z":"d641167e.32f588","name":"Get","url":"/api/:salesOrganizationCD/:counterBrandCD/:contactCD","method":"get","upload":false,"swaggerDoc":"","x":90,"y":280,"wires":[["13a2e757.850ea9","1dc40bb1.a39db4"]]},{"id":"13a2e757.850ea9","type":"function","z":"d641167e.32f588","name":"パラメータ検索用","func":"msg.params = {\n\tsalesOrganizationCD : msg.req.params.salesOrganizationCD,\n\tcounterBrandCD : msg.req.params.counterBrandCD,\n\tcontactCD: msg.req.params.contactCD\n};\n\nreturn msg;\n","outputs":1,"noerr":0,"x":270,"y":280,"wires":[["fbd392bc.d12f"]]},{"id":"fbd392bc.d12f","type":"node-red-contrib-mssql-ps","z":"d641167e.32f588","server":"d09fd3eb.fc3d1","debug":false,"params":[{"paramname":"salesOrganizationCD","paramtype":"VarChar","paramoptsone":"4","paramoptstwo":""},{"paramname":"counterBrandCD","paramtype":"VarChar","paramoptsone":"2","paramoptstwo":""},{"paramname":"contactCD","paramtype":"Int","paramoptsone":"","paramoptstwo":""}],"sql":"SELECT\n\tMCNTCT_SalesOrganizationCD,\n\tMCNTCT_CounterBrandCD,\n\tMCNTCT_ContactCD,\n\tMCNTCT_ContactName,\n\tMCNTCT_OrderDisplay,\n\tMCNTCT_ActiveFlg,\n\tMCNTCT_FlgChangeDate,\n\tMCNTCT_Note,\n\tMCNTCT_UpdateEmployeeCD,\n\tMCNTCT_UpdateDatetime\nFROM\n\tM_Contact\nWHERE\n\tMCNTCT_SalesOrganizationCD = @salesOrganizationCD\n\tAND MCNTCT_CounterBrandCD = @counterBrandCD\n\tAND MCNTCT_ContactCD = @contactCD\n","name":"検索クエリ","x":490,"y":280,"wires":[["3748ae11.6bd592","5b6c73cc.5086ec"]]},{"id":"3748ae11.6bd592","type":"http response","z":"d641167e.32f588","name":"GetRes","statusCode":"","headers":{},"x":720,"y":280,"wires":[]},{"id":"5b6c73cc.5086ec","type":"debug","z":"d641167e.32f588","name":"DbgGetOut","active":true,"console":"false","complete":"true","x":730,"y":320,"wires":[]},{"id":"1dc40bb1.a39db4","type":"debug","z":"d641167e.32f588","name":"DbgGetIn","active":true,"console":"false","complete":"true","x":240,"y":320,"wires":[]},{"id":"43c18273.ccdadc","type":"comment","z":"d641167e.32f588","name":"連絡先一覧検索","info":"","x":120,"y":40,"wires":[]},{"id":"374bfe77.5e55c2","type":"comment","z":"d641167e.32f588","name":"連絡先検索","info":"","x":100,"y":220,"wires":[]},{"id":"213fe662.10119a","type":"comment","z":"d641167e.32f588","name":"連絡先追加","info":"","x":100,"y":400,"wires":[]},{"id":"9fa947fc.af62e8","type":"comment","z":"d641167e.32f588","name":"連絡先更新","info":"","x":100,"y":600,"wires":[]},{"id":"c773725d.0596f","type":"comment","z":"d641167e.32f588","name":"連絡先削除","info":"","x":100,"y":800,"wires":[]},{"id":"ea037fa4.82eb8","type":"comment","z":"d641167e.32f588","name":"SQLエラーハンドリング","info":"","x":150,"y":1020,"wires":[]}]