flows_RD00155D5432EE.json
[{"id":"2bd5603c.59f22","type":"tab","label":"フロー 1"},{"id":"6a3c3602.611078","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}}},"site":{"name":"Node-RED ダッシュボード","hideToolbar":"false","allowSwipe":"false","dateFormat":"YYYY/MM/DD","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"447eb56f.50de2c","type":"mssql-ps-serverconf","z":"","name":"SQLService","host":"izufrdb01.database.windows.net","encryption":true,"database":"izufrdb01","timeout":"15000"},{"id":"d9a180fa.26e8","type":"http in","z":"2bd5603c.59f22","name":"GetAll","url":"/api/:salesOrganizationCD/:counterBrandCD/:skiprows/:pageline","method":"get","upload":false,"swaggerDoc":"","x":90,"y":100,"wires":[["5ba8cd2a.ad0224","89ea3c56.658c9"]]},{"id":"5ba8cd2a.ad0224","type":"function","z":"2bd5603c.59f22","name":"パラメータ一覧検索用","func":"msg.params = {\n\tsalesOrganizationCD : msg.req.params.salesOrganizationCD,\n\tcounterBrandCD : msg.req.params.counterBrandCD,\n\tskiprows: msg.req.params.skiprows,\n\tpageline: msg.req.params.pageline,\n\tcontactName :\n\t\tmsg.payload.contactName ?\n\t\t\t'%' + msg.payload.contactName.replace(/[_%\\\\[#]/,\"\\\\$&\") + '%'\n\t\t\t: null,\n\tactiveFlg : msg.payload.activeFlg\n};\n\nreturn msg;\n","outputs":1,"noerr":0,"x":280,"y":100,"wires":[["46bbf3e.3e2ff0c"]]},{"id":"fc3f7de8.c435a","type":"debug","z":"2bd5603c.59f22","name":"DbgGetAllOut","active":true,"console":"false","complete":"true","x":740,"y":140,"wires":[]},{"id":"6ce0099.127faf8","type":"http response","z":"2bd5603c.59f22","name":"GetAllRes","statusCode":"","headers":{},"x":720,"y":100,"wires":[]},{"id":"46bbf3e.3e2ff0c","type":"node-red-contrib-mssql-ps","z":"2bd5603c.59f22","server":"447eb56f.50de2c","debug":false,"params":[{"paramname":"salesOrganizationCD","paramtype":"VarChar","paramoptsone":"4","paramoptstwo":""},{"paramname":"counterBrandCD","paramtype":"VarChar","paramoptsone":"2","paramoptstwo":""},{"paramname":"skiprows","paramtype":"Int","paramoptsone":"","paramoptstwo":""},{"paramname":"contactName","paramtype":"NVarCharMAX","paramoptsone":"","paramoptstwo":""},{"paramname":"activeFlg","paramtype":"Int","paramoptsone":"","paramoptstwo":""},{"paramname":"pageline","paramtype":"Int","paramoptsone":"","paramoptstwo":""}],"sql":"SELECT\n\tCOUNT(*) OVER () AS [LineCount],\n\tMCNTCT_SalesOrganizationCD,\n\tMCNTCT_CounterBrandCD,\n\tMCNTCT_ContactCD,\n\tMCNTCT_ContactName,\n\tMCNTCT_OrderDisplay,\n\tMCNTCT_ActiveFlg,\n\tMCNTCT_FlgChangeDate,\n\tMCNTCT_Note,\n\tMCNTCT_UpdateEmployeeCD,\n\tMCNTCT_UpdateDatetime\nFROM\n\tM_Contact\nWHERE\n\tMCNTCT_SalesOrganizationCD = @salesOrganizationCD\n\tAND MCNTCT_CounterBrandCD = @counterBrandCD\n\tAND (\n\t\t@contactName IS NULL\n\t\tOR (\n\t\t\tMCNTCT_ContactName LIKE @contactName ESCAPE '\\'\n\t\t)\n\t)\n\tAND (\n\t\t@activeFlg IS NULL\n\t\tOR MCNTCT_ActiveFlg = @activeFlg\n\t)\nORDER BY\n\tMCNTCT_OrderDisplay,\n\tMCNTCT_ContactCD\n\tOFFSET @skiprows ROWS\n\tFETCH NEXT @pageline ROWS ONLY\n","name":"一覧検索クエリ","x":500,"y":100,"wires":[["6ce0099.127faf8","fc3f7de8.c435a"]]},{"id":"ac0daafd.3b73f8","type":"http in","z":"2bd5603c.59f22","name":"Add","url":"/api/:salesOrganizationCD/:counterBrandCD","method":"post","upload":false,"swaggerDoc":"","x":90,"y":340,"wires":[["5cdce6a9.3c3f48","e16a26bb.1c0358"]]},{"id":"89ea3c56.658c9","type":"debug","z":"2bd5603c.59f22","name":"DbgGetAllIn","active":true,"console":"false","complete":"true","x":250,"y":140,"wires":[]},{"id":"5cdce6a9.3c3f48","type":"function","z":"2bd5603c.59f22","name":"LoopStart","func":"if (msg.loop == null) {\n    msg.orgPrm = msg.payload;\n    msg.loop = 0;\n    msg.results = [];\n}\nmsg.data = msg.orgPrm[msg.loop];\n\nreturn msg;","outputs":1,"noerr":0,"x":280,"y":340,"wires":[["dbff777a.a1b938"]]},{"id":"e16a26bb.1c0358","type":"debug","z":"2bd5603c.59f22","name":"AddIn","active":true,"console":"false","complete":"true","x":230,"y":400,"wires":[]},{"id":"dbff777a.a1b938","type":"function","z":"2bd5603c.59f22","name":"パラメータ追加用","func":"msg.params = {\n\tsalesOrganizationCD : msg.req.params.salesOrganizationCD,\n\tcounterBrandCD : msg.req.params.counterBrandCD,\n\tcontactName : msg.data.contactName,\n\torderDisplay : msg.data.orderDisplay,\n\tactiveFlg : msg.data.activeFlg,\n\tflgChangeDate : msg.data.flgChangeDate,\n\tnote : msg.data.note,\n\tupdateEmployeeCD : msg.data.updateEmployeeCD,\n};\n\nreturn msg;","outputs":1,"noerr":0,"x":510,"y":340,"wires":[["576120b1.a1099"]]},{"id":"576120b1.a1099","type":"node-red-contrib-mssql-ps","z":"2bd5603c.59f22","server":"447eb56f.50de2c","debug":false,"params":[{"paramname":"salesOrganizationCD","paramtype":"VarChar","paramoptsone":"4","paramoptstwo":""},{"paramname":"counterBrandCD","paramtype":"VarChar","paramoptsone":"2","paramoptstwo":""},{"paramname":"contactName","paramtype":"NVarChar","paramoptsone":"50","paramoptstwo":""},{"paramname":"orderDisplay","paramtype":"Int","paramoptsone":"","paramoptstwo":""},{"paramname":"activeFlg","paramtype":"Int","paramoptsone":"","paramoptstwo":""},{"paramname":"flgChangeDate","paramtype":"VarCharMAX","paramoptsone":"","paramoptstwo":""},{"paramname":"note","paramtype":"NVarChar","paramoptsone":"255","paramoptstwo":""},{"paramname":"updateEmployeeCD","paramtype":"VarChar","paramoptsone":"20","paramoptstwo":""}],"sql":"INSERT INTO M_Contact (\n\tMCNTCT_SalesOrganizationCD,\n\tMCNTCT_CounterBrandCD,\n\tMCNTCT_ContactCD,\n\tMCNTCT_ContactName,\n\tMCNTCT_OrderDisplay,\n\tMCNTCT_ActiveFlg,\n\tMCNTCT_FlgChangeDate,\n\tMCNTCT_Note,\n\tMCNTCT_UpdateEmployeeCD,\n\tMCNTCT_UpdateDatetime\n) OUTPUT INSERTED.MCNTCT_ContactCD\nSELECT\n\t@salesOrganizationCD,\n\t@counterBrandCD,\n\t(\n\t\tSELECT ISNULL(MAX(MCNTCT_ContactCD),0)+1 FROM M_Contact WHERE\n\t\t\tMCNTCT_SalesOrganizationCD = @salesOrganizationCD\n\t\t\tAND MCNTCT_CounterBrandCD = @counterBrandCD\n\t),\n\t@contactName,\n\t@orderDisplay,\n\t@activeFlg,\n\tCONVERT(DATETIME,@flgChangeDate),\n\t@note,\n\t@updateEmployeeCD,\n\tGETDATE()\n","name":"追加クエリ","x":730,"y":340,"wires":[["39c102da.65a64e"]]},{"id":"39c102da.65a64e","type":"function","z":"2bd5603c.59f22","name":"LoopEnd","func":"for (var rec in msg.payload) {\n    msg.results.push(msg.payload[rec].MCNTCT_ContactCD);\n}\n//msg.results.push(msg.payload);\n\nmsg.loop += 1;\n\nif (msg.loop < msg.orgPrm.length) {\n    return [msg, null];\n} else {\n    msg.payload = msg.results;\n    return [null, msg];\n}\n","outputs":"2","noerr":0,"x":480,"y":400,"wires":[["5cdce6a9.3c3f48"],["7a45cfb0.34512","c583ea27.9cb938"]]},{"id":"7a45cfb0.34512","type":"http response","z":"2bd5603c.59f22","name":"AddRes","statusCode":"","headers":{},"x":720,"y":400,"wires":[]},{"id":"c583ea27.9cb938","type":"debug","z":"2bd5603c.59f22","name":"AddOut","active":true,"console":"false","complete":"true","x":720,"y":440,"wires":[]},{"id":"23f1a687.a801da","type":"http in","z":"2bd5603c.59f22","name":"Update","url":"/api/:salesOrganizationCD/:counterBrandCD","method":"put","upload":false,"swaggerDoc":"","x":90,"y":500,"wires":[["ca234c71.27669","b47a154f.50f118"]]},{"id":"b47a154f.50f118","type":"function","z":"2bd5603c.59f22","name":"LoopStart","func":"if (msg.loop == null) {\n    msg.orgPrm = msg.payload;\n    msg.loop = 0;\n    msg.results = [];\n}\nmsg.data = msg.orgPrm[msg.loop];\n\nreturn msg;","outputs":1,"noerr":0,"x":280,"y":500,"wires":[["73cf4926.21e628"]]},{"id":"ca234c71.27669","type":"debug","z":"2bd5603c.59f22","name":"UpdateIn","active":true,"console":"false","complete":"true","x":240,"y":560,"wires":[]},{"id":"73cf4926.21e628","type":"function","z":"2bd5603c.59f22","name":"パラメータ更新用","func":"msg.params = {\n\tsalesOrganizationCD : msg.req.params.salesOrganizationCD,\n\tcounterBrandCD : msg.req.params.counterBrandCD,\n\tcontactCD: msg.data.contactCD,\n\tcontactName : msg.data.contactName,\n\torderDisplay : msg.data.orderDisplay,\n\tactiveFlg : msg.data.activeFlg,\n\tflgChangeDate : msg.data.flgChangeDate,\n\tnote : msg.data.note,\n\tupdateEmployeeCD : msg.data.updateEmployeeCD,\n};\n\nreturn msg;","outputs":1,"noerr":0,"x":507.10003662109375,"y":500,"wires":[["609174c6.332edc"]]},{"id":"609174c6.332edc","type":"node-red-contrib-mssql-ps","z":"2bd5603c.59f22","server":"447eb56f.50de2c","debug":false,"params":[{"paramname":"salesOrganizationCD","paramtype":"VarChar","paramoptsone":"4","paramoptstwo":""},{"paramname":"counterBrandCD","paramtype":"VarChar","paramoptsone":"2","paramoptstwo":""},{"paramname":"contactName","paramtype":"NVarChar","paramoptsone":"50","paramoptstwo":""},{"paramname":"orderDisplay","paramtype":"Int","paramoptsone":"","paramoptstwo":""},{"paramname":"activeFlg","paramtype":"Int","paramoptsone":"","paramoptstwo":""},{"paramname":"flgChangeDate","paramtype":"VarCharMAX","paramoptsone":"","paramoptstwo":""},{"paramname":"note","paramtype":"NVarChar","paramoptsone":"255","paramoptstwo":""},{"paramname":"updateEmployeeCD","paramtype":"VarChar","paramoptsone":"20","paramoptstwo":""},{"paramname":"contactCD","paramtype":"Int","paramoptsone":"","paramoptstwo":""}],"sql":"UPDATE M_Contact SET\n\tMCNTCT_ContactName = CASE\n\t\tWHEN ISNULL(@contactName,'#@NV@#') <> ISNULL(MCNTCT_ContactName, '#@NV@#')\n\t\t\tTHEN @contactName\n\t\tELSE MCNTCT_ContactName\n\tEND,\n\tMCNTCT_OrderDisplay = CASE\n\t\tWHEN ISNULL(@orderDisplay,'#@NV@#') <> ISNULL(MCNTCT_OrderDisplay, '#@NV@#')\n\t\t\tTHEN @orderDisplay\n\t\tELSE MCNTCT_OrderDisplay\n\tEND,\n\tMCNTCT_ActiveFlg = CASE\n\t\tWHEN ISNULL(@activeFlg,'#@NV@#') <> ISNULL(MCNTCT_ActiveFlg, '#@NV@#')\n\t\t\tTHEN @activeFlg\n\t\tELSE MCNTCT_ActiveFlg\n\tEND,\n\tMCNTCT_FlgChangeDate = CASE\n\t\tWHEN ISNULL(CONVERT(DATETIME,@flgChangeDate),CONVERT(DATETIME,'1900-01-01 12:34:56'))\n\t\t\t<> ISNULL(MCNTCT_FlgChangeDate, CONVERT(DATETIME,'1900-01-01 12:34:56'))\n\t\t\tTHEN CONVERT(DATETIME,@flgChangeDate)\n\t\tELSE MCNTCT_FlgChangeDate\n\tEND,\n\tMCNTCT_Note = CASE\n\t\tWHEN ISNULL(@note,'#@NV@#') <> ISNULL(MCNTCT_Note, '#@NV@#')\n\t\t\tTHEN @note\n\t\tELSE MCNTCT_Note\n\tEND,\n\tMCNTCT_UpdateEmployeeCD = CASE\n\t\tWHEN (ISNULL(@contactName,'#@NV@#') <> ISNULL(MCNTCT_ContactName, '#@NV@#'))\n\t\t\tOR (ISNULL(@orderDisplay,'#@NV@#') <> ISNULL(MCNTCT_OrderDisplay, '#@NV@#'))\n\t\t\tOR (ISNULL(@activeFlg,'#@NV@#') <> ISNULL(MCNTCT_ActiveFlg, '#@NV@#'))\n\t\t\tOR (ISNULL(CONVERT(DATETIME,@flgChangeDate),CONVERT(DATETIME,'1900-01-01 12:34:56'))\n\t\t\t\t<> ISNULL(MCNTCT_FlgChangeDate, CONVERT(DATETIME,'1900-01-01 12:34:56')))\n\t\t\tOR (ISNULL(@note,'#@NV@#') <> ISNULL(MCNTCT_Note, '#@NV@#'))\n\t\tTHEN @updateEmployeeCD\n\t\tELSE MCNTCT_UpdateEmployeeCD\n\tEND,\n\tMCNTCT_UpdateDatetime = CASE\n\t\tWHEN (ISNULL(@contactName,'#@NV@#') <> ISNULL(MCNTCT_ContactName, '#@NV@#'))\n\t\t\tOR (ISNULL(@orderDisplay,'#@NV@#') <> ISNULL(MCNTCT_OrderDisplay, '#@NV@#'))\n\t\t\tOR (ISNULL(@activeFlg,'#@NV@#') <> ISNULL(MCNTCT_ActiveFlg, '#@NV@#'))\n\t\t\tOR (ISNULL(CONVERT(DATETIME,@flgChangeDate),CONVERT(DATETIME,'1900-01-01 12:34:56'))\n\t\t\t\t<> ISNULL(MCNTCT_FlgChangeDate, CONVERT(DATETIME,'1900-01-01 12:34:56')))\n\t\t\tOR (ISNULL(@note,'#@NV@#') <> ISNULL(MCNTCT_Note, '#@NV@#'))\n\t\tTHEN GETDATE()\n\t\tELSE MCNTCT_UpdateDatetime\n\tEND\nOUTPUT inserted.MCNTCT_ContactCD\nWHERE\n\tMCNTCT_SalesOrganizationCD = @salesOrganizationCD\n\tAND MCNTCT_CounterBrandCD = @counterBrandCD\n\tAND MCNTCT_ContactCD = @contactCD\n","name":"更新クエリ","x":730,"y":500,"wires":[["146a0384.1b012c"]]},{"id":"146a0384.1b012c","type":"function","z":"2bd5603c.59f22","name":"LoopEnd","func":"for (var rec in msg.payload) {\n    msg.results.push(msg.payload[rec].MCNTCT_ContactCD);\n}\n//msg.results.push(msg.payload);\n\nmsg.loop += 1;\n\nif (msg.loop < msg.orgPrm.length) {\n    return [msg, null];\n} else {\n    msg.payload = msg.results;\n    return [null, msg];\n}\n","outputs":"2","noerr":0,"x":480,"y":560,"wires":[["b47a154f.50f118"],["2bc2d043.eafc1","c4d1bf0c.b631f"]]},{"id":"2bc2d043.eafc1","type":"http response","z":"2bd5603c.59f22","name":"UpdateRes","statusCode":"","headers":{},"x":730,"y":560,"wires":[]},{"id":"c4d1bf0c.b631f","type":"debug","z":"2bd5603c.59f22","name":"UpdateOut","active":true,"console":"false","complete":"true","x":730,"y":600,"wires":[]},{"id":"715bc257.41b99c","type":"catch","z":"2bd5603c.59f22","name":"クエリエラー","scope":["46bbf3e.3e2ff0c","1c25f706.d03579","609174c6.332edc","b8778dbb.a5f68","576120b1.a1099"],"x":110,"y":820,"wires":[["48e21897.7ba8c8","906bce94.622e8"]]},{"id":"48e21897.7ba8c8","type":"function","z":"2bd5603c.59f22","name":"エラー編集","func":"msg.payload = msg.error;\n\nreturn msg;","outputs":1,"noerr":0,"x":290,"y":820,"wires":[["24980512.7b8b0a"]]},{"id":"24980512.7b8b0a","type":"http response","z":"2bd5603c.59f22","name":"QueryErrorRes","statusCode":"500","headers":{},"x":500,"y":820,"wires":[]},{"id":"906bce94.622e8","type":"debug","z":"2bd5603c.59f22","name":"QueryError","active":true,"console":"false","complete":"true","x":290,"y":880,"wires":[]},{"id":"5af24fb.b5138b","type":"http in","z":"2bd5603c.59f22","name":"Delete","url":"/api/:salesOrganizationCD/:counterBrandCD","method":"delete","upload":false,"swaggerDoc":"","x":90,"y":660,"wires":[["207ae3e3.d1c36c","a50ffb59.d1c678"]]},{"id":"207ae3e3.d1c36c","type":"debug","z":"2bd5603c.59f22","name":"DeleteIn","active":true,"console":"false","complete":"true","x":240,"y":720,"wires":[]},{"id":"a50ffb59.d1c678","type":"function","z":"2bd5603c.59f22","name":"LoopStart","func":"if (msg.loop == null) {\n    msg.orgPrm = msg.payload;\n    msg.loop = 0;\n    msg.results = [];\n}\nmsg.data = msg.orgPrm[msg.loop];\n\nreturn msg;","outputs":1,"noerr":0,"x":280,"y":660,"wires":[["92ab301d.c8864"]]},{"id":"92ab301d.c8864","type":"function","z":"2bd5603c.59f22","name":"パラメータ更新用","func":"msg.params = {\n\tsalesOrganizationCD : msg.req.params.salesOrganizationCD,\n\tcounterBrandCD : msg.req.params.counterBrandCD,\n\tcontactCD: msg.data.contactCD\n};\n\nreturn msg;","outputs":1,"noerr":0,"x":510,"y":660,"wires":[["1c25f706.d03579"]]},{"id":"1c25f706.d03579","type":"node-red-contrib-mssql-ps","z":"2bd5603c.59f22","server":"447eb56f.50de2c","debug":false,"params":[{"paramname":"salesOrganizationCD","paramtype":"VarChar","paramoptsone":"4","paramoptstwo":""},{"paramname":"counterBrandCD","paramtype":"VarChar","paramoptsone":"2","paramoptstwo":""},{"paramname":"contactCD","paramtype":"Int","paramoptsone":"","paramoptstwo":""}],"sql":"DELETE FROM M_Contact\nOUTPUT deleted.MCNTCT_ContactCD\nWHERE\n\tMCNTCT_SalesOrganizationCD = @salesOrganizationCD\n\tAND MCNTCT_CounterBrandCD = @counterBrandCD\n\tAND MCNTCT_ContactCD = @contactCD\n","name":"削除クエリ","x":730,"y":660,"wires":[["3bbf39b7.2bd756"]]},{"id":"3bbf39b7.2bd756","type":"function","z":"2bd5603c.59f22","name":"LoopEnd","func":"for (var rec in msg.payload) {\n    msg.results.push(msg.payload[rec].MCNTCT_ContactCD);\n}\n//msg.results.push(msg.payload);\n\nmsg.loop += 1;\n\nif (msg.loop < msg.orgPrm.length) {\n    return [msg, null];\n} else {\n    msg.payload = msg.results;\n    return [null, msg];\n}\n","outputs":"2","noerr":0,"x":480,"y":720,"wires":[["a50ffb59.d1c678"],["a14d1dd9.b484a","47cb731c.49f58c"]]},{"id":"a14d1dd9.b484a","type":"http response","z":"2bd5603c.59f22","name":"DeleteRes","statusCode":"","headers":{},"x":730,"y":720,"wires":[]},{"id":"47cb731c.49f58c","type":"debug","z":"2bd5603c.59f22","name":"DeleteOut","active":true,"console":"false","complete":"true","x":720,"y":760,"wires":[]},{"id":"aaf9bc30.b983a","type":"http in","z":"2bd5603c.59f22","name":"Get","url":"/api/:salesOrganizationCD/:counterBrandCD/:contactCD","method":"get","upload":false,"swaggerDoc":"","x":90,"y":220,"wires":[["7ebcb310.d9d0ac","af9abd83.cab3f"]]},{"id":"7ebcb310.d9d0ac","type":"function","z":"2bd5603c.59f22","name":"パラメータ検索用","func":"msg.params = {\n\tsalesOrganizationCD : msg.req.params.salesOrganizationCD,\n\tcounterBrandCD : msg.req.params.counterBrandCD,\n\tcontactCD: msg.req.params.contactCD\n};\n\nreturn msg;\n","outputs":1,"noerr":0,"x":270,"y":220,"wires":[["b8778dbb.a5f68"]]},{"id":"b8778dbb.a5f68","type":"node-red-contrib-mssql-ps","z":"2bd5603c.59f22","server":"447eb56f.50de2c","debug":false,"params":[{"paramname":"salesOrganizationCD","paramtype":"VarChar","paramoptsone":"4","paramoptstwo":""},{"paramname":"counterBrandCD","paramtype":"VarChar","paramoptsone":"2","paramoptstwo":""},{"paramname":"contactCD","paramtype":"Int","paramoptsone":"","paramoptstwo":""}],"sql":"SELECT\n\tMCNTCT_SalesOrganizationCD,\n\tMCNTCT_CounterBrandCD,\n\tMCNTCT_ContactCD,\n\tMCNTCT_ContactName,\n\tMCNTCT_OrderDisplay,\n\tMCNTCT_ActiveFlg,\n\tMCNTCT_FlgChangeDate,\n\tMCNTCT_Note,\n\tMCNTCT_UpdateEmployeeCD,\n\tMCNTCT_UpdateDatetime\nFROM\n\tM_Contact\nWHERE\n\tMCNTCT_SalesOrganizationCD = @salesOrganizationCD\n\tAND MCNTCT_CounterBrandCD = @counterBrandCD\n\tAND MCNTCT_ContactCD = @contactCD\n","name":"検索クエリ","x":490,"y":220,"wires":[["bb6efb84.e26918","aa551593.e44058"]]},{"id":"bb6efb84.e26918","type":"http response","z":"2bd5603c.59f22","name":"GetRes","statusCode":"","headers":{},"x":720,"y":220,"wires":[]},{"id":"aa551593.e44058","type":"debug","z":"2bd5603c.59f22","name":"DbgGetOut","active":true,"console":"false","complete":"true","x":730,"y":260,"wires":[]},{"id":"af9abd83.cab3f","type":"debug","z":"2bd5603c.59f22","name":"DbgGetIn","active":true,"console":"false","complete":"true","x":240,"y":260,"wires":[]}]