flows_RD00155D545CC6.json
[{"id":"f55488e2.6e7978","type":"tab","label":"フロー 1"},{"id":"31667a94.e456a6","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}}},"site":{"name":"Node-RED ダッシュボード","hideToolbar":"false","allowSwipe":"false","dateFormat":"YYYY/MM/DD","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"1bd6dc41.146bc4","type":"mssql-ps-serverconf","z":"","name":"SQLService","host":"izufrdb01.database.windows.net","encryption":true,"database":"izufrdb01","timeout":"15000"},{"id":"48bdfd37.693194","type":"http in","z":"f55488e2.6e7978","name":"GetAll","url":"/api/:salesOrganizationCD/:counterBrandCD/:skiprows/:pageline","method":"get","upload":false,"swaggerDoc":"","x":90,"y":100,"wires":[["8e4855fc.54ca88","949e4d4f.03f0e"]]},{"id":"8e4855fc.54ca88","type":"function","z":"f55488e2.6e7978","name":"パラメータ一覧検索用","func":"msg.params = {\n\tsalesOrganizationCD : msg.req.params.salesOrganizationCD,\n\tcounterBrandCD : msg.req.params.counterBrandCD,\n\tskiprows: msg.req.params.skiprows,\n\tpageline: msg.req.params.pageline,\n\tcontactName :\n\t\tmsg.payload.contactName ?\n\t\t\t'%' + msg.payload.contactName.replace(/[_%\\\\[#]/,\"\\\\$&\") + '%'\n\t\t\t: null,\n\tactiveFlg : msg.payload.activeFlg\n};\n\nreturn msg;\n","outputs":1,"noerr":0,"x":280,"y":100,"wires":[["6c394c1f.494ff4"]]},{"id":"5d8713e6.2b2d7c","type":"debug","z":"f55488e2.6e7978","name":"DbgGetAllOut","active":true,"console":"false","complete":"true","x":740,"y":140,"wires":[]},{"id":"93733d11.3048","type":"http response","z":"f55488e2.6e7978","name":"GetAllRes","statusCode":"","headers":{},"x":720,"y":100,"wires":[]},{"id":"6c394c1f.494ff4","type":"node-red-contrib-mssql-ps","z":"f55488e2.6e7978","server":"1bd6dc41.146bc4","debug":false,"params":[{"paramname":"salesOrganizationCD","paramtype":"VarChar","paramoptsone":"4","paramoptstwo":""},{"paramname":"counterBrandCD","paramtype":"VarChar","paramoptsone":"2","paramoptstwo":""},{"paramname":"skiprows","paramtype":"Int","paramoptsone":"","paramoptstwo":""},{"paramname":"contactName","paramtype":"NVarCharMAX","paramoptsone":"","paramoptstwo":""},{"paramname":"activeFlg","paramtype":"Int","paramoptsone":"","paramoptstwo":""},{"paramname":"pageline","paramtype":"Int","paramoptsone":"","paramoptstwo":""}],"sql":"SELECT\n\tCOUNT(*) OVER () AS [LineCount],\n\tMCNTCT_SalesOrganizationCD,\n\tMCNTCT_CounterBrandCD,\n\tMCNTCT_ContactCD,\n\tMCNTCT_ContactName,\n\tMCNTCT_OrderDisplay,\n\tMCNTCT_ActiveFlg,\n\tMCNTCT_FlgChangeDate,\n\tMCNTCT_Note,\n\tMCNTCT_UpdateEmployeeCD,\n\tMCNTCT_UpdateDatetime\nFROM\n\tM_Contact\nWHERE\n\tMCNTCT_SalesOrganizationCD = @salesOrganizationCD\n\tAND MCNTCT_CounterBrandCD = @counterBrandCD\n\tAND (\n\t\t@contactName IS NULL\n\t\tOR (\n\t\t\tMCNTCT_ContactName LIKE @contactName ESCAPE '\\'\n\t\t)\n\t)\n\tAND (\n\t\t@activeFlg IS NULL\n\t\tOR MCNTCT_ActiveFlg = @activeFlg\n\t)\nORDER BY\n\tMCNTCT_OrderDisplay,\n\tMCNTCT_ContactCD\n\tOFFSET @skiprows ROWS\n\tFETCH NEXT @pageline ROWS ONLY\n","name":"一覧検索クエリ","x":500,"y":100,"wires":[["93733d11.3048","5d8713e6.2b2d7c"]]},{"id":"238bf42e.b5daac","type":"http in","z":"f55488e2.6e7978","name":"Add","url":"/api/:salesOrganizationCD/:counterBrandCD","method":"post","upload":false,"swaggerDoc":"","x":90,"y":340,"wires":[["bfc181ec.6971c","e56ed688.87a7b8"]]},{"id":"949e4d4f.03f0e","type":"debug","z":"f55488e2.6e7978","name":"DbgGetAllIn","active":true,"console":"false","complete":"true","x":250,"y":140,"wires":[]},{"id":"bfc181ec.6971c","type":"function","z":"f55488e2.6e7978","name":"LoopStart","func":"if (msg.loop == null) {\n    msg.orgPrm = msg.payload;\n    msg.loop = 0;\n    msg.results = [];\n}\nmsg.data = msg.orgPrm[msg.loop];\n\nreturn msg;","outputs":1,"noerr":0,"x":280,"y":340,"wires":[["73752035.7dc3a"]]},{"id":"e56ed688.87a7b8","type":"debug","z":"f55488e2.6e7978","name":"AddIn","active":true,"console":"false","complete":"true","x":230,"y":400,"wires":[]},{"id":"73752035.7dc3a","type":"function","z":"f55488e2.6e7978","name":"パラメータ追加用","func":"msg.params = {\n\tsalesOrganizationCD : msg.req.params.salesOrganizationCD,\n\tcounterBrandCD : msg.req.params.counterBrandCD,\n\tcontactName : msg.data.contactName,\n\torderDisplay : msg.data.orderDisplay,\n\tactiveFlg : msg.data.activeFlg,\n\tflgChangeDate : msg.data.flgChangeDate,\n\tnote : msg.data.note,\n\tupdateEmployeeCD : msg.data.updateEmployeeCD,\n};\n\nreturn msg;","outputs":1,"noerr":0,"x":510,"y":340,"wires":[["32824f6d.02532"]]},{"id":"32824f6d.02532","type":"node-red-contrib-mssql-ps","z":"f55488e2.6e7978","server":"1bd6dc41.146bc4","debug":false,"params":[{"paramname":"salesOrganizationCD","paramtype":"VarChar","paramoptsone":"4","paramoptstwo":""},{"paramname":"counterBrandCD","paramtype":"VarChar","paramoptsone":"2","paramoptstwo":""},{"paramname":"contactName","paramtype":"NVarChar","paramoptsone":"50","paramoptstwo":""},{"paramname":"orderDisplay","paramtype":"Int","paramoptsone":"","paramoptstwo":""},{"paramname":"activeFlg","paramtype":"Int","paramoptsone":"","paramoptstwo":""},{"paramname":"flgChangeDate","paramtype":"VarCharMAX","paramoptsone":"","paramoptstwo":""},{"paramname":"note","paramtype":"NVarChar","paramoptsone":"255","paramoptstwo":""},{"paramname":"updateEmployeeCD","paramtype":"VarChar","paramoptsone":"20","paramoptstwo":""}],"sql":"INSERT INTO M_Contact (\n\tMCNTCT_SalesOrganizationCD,\n\tMCNTCT_CounterBrandCD,\n\tMCNTCT_ContactCD,\n\tMCNTCT_ContactName,\n\tMCNTCT_OrderDisplay,\n\tMCNTCT_ActiveFlg,\n\tMCNTCT_FlgChangeDate,\n\tMCNTCT_Note,\n\tMCNTCT_UpdateEmployeeCD,\n\tMCNTCT_UpdateDatetime\n) OUTPUT INSERTED.MCNTCT_ContactCD\nSELECT\n\t@salesOrganizationCD,\n\t@counterBrandCD,\n\t(\n\t\tSELECT ISNULL(MAX(MCNTCT_ContactCD),0)+1 FROM M_Contact WHERE\n\t\t\tMCNTCT_SalesOrganizationCD = @salesOrganizationCD\n\t\t\tAND MCNTCT_CounterBrandCD = @counterBrandCD\n\t),\n\t@contactName,\n\t@orderDisplay,\n\t@activeFlg,\n\tCONVERT(DATETIME,@flgChangeDate),\n\t@note,\n\t@updateEmployeeCD,\n\tGETDATE()\n","name":"追加クエリ","x":730,"y":340,"wires":[["41d7c1e5.e0cdc"]]},{"id":"41d7c1e5.e0cdc","type":"function","z":"f55488e2.6e7978","name":"LoopEnd","func":"for (var rec in msg.payload) {\n    msg.results.push(msg.payload[rec].MCNTCT_ContactCD);\n}\n//msg.results.push(msg.payload);\n\nmsg.loop += 1;\n\nif (msg.loop < msg.orgPrm.length) {\n    return [msg, null];\n} else {\n    msg.payload = msg.results;\n    return [null, msg];\n}\n","outputs":"2","noerr":0,"x":480,"y":400,"wires":[["bfc181ec.6971c"],["d71aa34d.36ed8","df93148.c4668e8"]]},{"id":"d71aa34d.36ed8","type":"http response","z":"f55488e2.6e7978","name":"AddRes","statusCode":"","headers":{},"x":720,"y":400,"wires":[]},{"id":"df93148.c4668e8","type":"debug","z":"f55488e2.6e7978","name":"AddOut","active":true,"console":"false","complete":"true","x":720,"y":440,"wires":[]},{"id":"322a8112.7b584e","type":"http in","z":"f55488e2.6e7978","name":"Update","url":"/api/:salesOrganizationCD/:counterBrandCD","method":"put","upload":false,"swaggerDoc":"","x":90,"y":500,"wires":[["3c1839cb.5c36d6","934f9b87.ca9bd8"]]},{"id":"934f9b87.ca9bd8","type":"function","z":"f55488e2.6e7978","name":"LoopStart","func":"if (msg.loop == null) {\n    msg.orgPrm = msg.payload;\n    msg.loop = 0;\n    msg.results = [];\n}\nmsg.data = msg.orgPrm[msg.loop];\n\nreturn msg;","outputs":1,"noerr":0,"x":280,"y":500,"wires":[["bb971b51.f5cda8"]]},{"id":"3c1839cb.5c36d6","type":"debug","z":"f55488e2.6e7978","name":"UpdateIn","active":true,"console":"false","complete":"true","x":240,"y":560,"wires":[]},{"id":"bb971b51.f5cda8","type":"function","z":"f55488e2.6e7978","name":"パラメータ更新用","func":"msg.params = {\n\tsalesOrganizationCD : msg.req.params.salesOrganizationCD,\n\tcounterBrandCD : msg.req.params.counterBrandCD,\n\tcontactCD: msg.data.contactCD,\n\tcontactName : msg.data.contactName,\n\torderDisplay : msg.data.orderDisplay,\n\tactiveFlg : msg.data.activeFlg,\n\tflgChangeDate : msg.data.flgChangeDate,\n\tnote : msg.data.note,\n\tupdateEmployeeCD : msg.data.updateEmployeeCD,\n};\n\nreturn msg;","outputs":1,"noerr":0,"x":507.10003662109375,"y":500,"wires":[["179b6869.484588"]]},{"id":"179b6869.484588","type":"node-red-contrib-mssql-ps","z":"f55488e2.6e7978","server":"1bd6dc41.146bc4","debug":false,"params":[{"paramname":"salesOrganizationCD","paramtype":"VarChar","paramoptsone":"4","paramoptstwo":""},{"paramname":"counterBrandCD","paramtype":"VarChar","paramoptsone":"2","paramoptstwo":""},{"paramname":"contactName","paramtype":"NVarChar","paramoptsone":"50","paramoptstwo":""},{"paramname":"orderDisplay","paramtype":"Int","paramoptsone":"","paramoptstwo":""},{"paramname":"activeFlg","paramtype":"Int","paramoptsone":"","paramoptstwo":""},{"paramname":"flgChangeDate","paramtype":"VarCharMAX","paramoptsone":"","paramoptstwo":""},{"paramname":"note","paramtype":"NVarChar","paramoptsone":"255","paramoptstwo":""},{"paramname":"updateEmployeeCD","paramtype":"VarChar","paramoptsone":"20","paramoptstwo":""},{"paramname":"contactCD","paramtype":"Int","paramoptsone":"","paramoptstwo":""}],"sql":"UPDATE M_Contact SET\n\tMCNTCT_ContactName = CASE\n\t\tWHEN ISNULL(@contactName,'#@NV@#') <> ISNULL(MCNTCT_ContactName, '#@NV@#')\n\t\t\tTHEN @contactName\n\t\tELSE MCNTCT_ContactName\n\tEND,\n\tMCNTCT_OrderDisplay = CASE\n\t\tWHEN ISNULL(@orderDisplay,'#@NV@#') <> ISNULL(MCNTCT_OrderDisplay, '#@NV@#')\n\t\t\tTHEN @orderDisplay\n\t\tELSE MCNTCT_OrderDisplay\n\tEND,\n\tMCNTCT_ActiveFlg = CASE\n\t\tWHEN ISNULL(@activeFlg,'#@NV@#') <> ISNULL(MCNTCT_ActiveFlg, '#@NV@#')\n\t\t\tTHEN @activeFlg\n\t\tELSE MCNTCT_ActiveFlg\n\tEND,\n\tMCNTCT_FlgChangeDate = CASE\n\t\tWHEN ISNULL(CONVERT(DATETIME,@flgChangeDate),CONVERT(DATETIME,'1900-01-01 12:34:56'))\n\t\t\t<> ISNULL(MCNTCT_FlgChangeDate, CONVERT(DATETIME,'1900-01-01 12:34:56'))\n\t\t\tTHEN CONVERT(DATETIME,@flgChangeDate)\n\t\tELSE MCNTCT_FlgChangeDate\n\tEND,\n\tMCNTCT_Note = CASE\n\t\tWHEN ISNULL(@note,'#@NV@#') <> ISNULL(MCNTCT_Note, '#@NV@#')\n\t\t\tTHEN @note\n\t\tELSE MCNTCT_Note\n\tEND,\n\tMCNTCT_UpdateEmployeeCD = CASE\n\t\tWHEN (ISNULL(@contactName,'#@NV@#') <> ISNULL(MCNTCT_ContactName, '#@NV@#'))\n\t\t\tOR (ISNULL(@orderDisplay,'#@NV@#') <> ISNULL(MCNTCT_OrderDisplay, '#@NV@#'))\n\t\t\tOR (ISNULL(@activeFlg,'#@NV@#') <> ISNULL(MCNTCT_ActiveFlg, '#@NV@#'))\n\t\t\tOR (ISNULL(CONVERT(DATETIME,@flgChangeDate),CONVERT(DATETIME,'1900-01-01 12:34:56'))\n\t\t\t\t<> ISNULL(MCNTCT_FlgChangeDate, CONVERT(DATETIME,'1900-01-01 12:34:56')))\n\t\t\tOR (ISNULL(@note,'#@NV@#') <> ISNULL(MCNTCT_Note, '#@NV@#'))\n\t\tTHEN @updateEmployeeCD\n\t\tELSE MCNTCT_UpdateEmployeeCD\n\tEND,\n\tMCNTCT_UpdateDatetime = CASE\n\t\tWHEN (ISNULL(@contactName,'#@NV@#') <> ISNULL(MCNTCT_ContactName, '#@NV@#'))\n\t\t\tOR (ISNULL(@orderDisplay,'#@NV@#') <> ISNULL(MCNTCT_OrderDisplay, '#@NV@#'))\n\t\t\tOR (ISNULL(@activeFlg,'#@NV@#') <> ISNULL(MCNTCT_ActiveFlg, '#@NV@#'))\n\t\t\tOR (ISNULL(CONVERT(DATETIME,@flgChangeDate),CONVERT(DATETIME,'1900-01-01 12:34:56'))\n\t\t\t\t<> ISNULL(MCNTCT_FlgChangeDate, CONVERT(DATETIME,'1900-01-01 12:34:56')))\n\t\t\tOR (ISNULL(@note,'#@NV@#') <> ISNULL(MCNTCT_Note, '#@NV@#'))\n\t\tTHEN GETDATE()\n\t\tELSE MCNTCT_UpdateDatetime\n\tEND\nOUTPUT inserted.MCNTCT_ContactCD\nWHERE\n\tMCNTCT_SalesOrganizationCD = @salesOrganizationCD\n\tAND MCNTCT_CounterBrandCD = @counterBrandCD\n\tAND MCNTCT_ContactCD = @contactCD\n","name":"更新クエリ","x":730,"y":500,"wires":[["6468fc2b.df46c4"]]},{"id":"6468fc2b.df46c4","type":"function","z":"f55488e2.6e7978","name":"LoopEnd","func":"for (var rec in msg.payload) {\n    msg.results.push(msg.payload[rec].MCNTCT_ContactCD);\n}\n//msg.results.push(msg.payload);\n\nmsg.loop += 1;\n\nif (msg.loop < msg.orgPrm.length) {\n    return [msg, null];\n} else {\n    msg.payload = msg.results;\n    return [null, msg];\n}\n","outputs":"2","noerr":0,"x":480,"y":560,"wires":[["934f9b87.ca9bd8"],["6ecc966b.c76618","78b3f3dd.9c2d2c"]]},{"id":"6ecc966b.c76618","type":"http response","z":"f55488e2.6e7978","name":"UpdateRes","statusCode":"","headers":{},"x":730,"y":560,"wires":[]},{"id":"78b3f3dd.9c2d2c","type":"debug","z":"f55488e2.6e7978","name":"UpdateOut","active":true,"console":"false","complete":"true","x":730,"y":600,"wires":[]},{"id":"6725b3d8.e5d72c","type":"catch","z":"f55488e2.6e7978","name":"クエリエラー","scope":["6c394c1f.494ff4","31d3abc4.782cb4","179b6869.484588","33599844.845908","32824f6d.02532"],"x":110,"y":820,"wires":[["7f9620ab.4fef3","6cb25574.90cd9c"]]},{"id":"7f9620ab.4fef3","type":"function","z":"f55488e2.6e7978","name":"エラー編集","func":"msg.payload = msg.error;\n\nreturn msg;","outputs":1,"noerr":0,"x":290,"y":820,"wires":[["4ab87918.bfa938"]]},{"id":"4ab87918.bfa938","type":"http response","z":"f55488e2.6e7978","name":"QueryErrorRes","statusCode":"500","headers":{},"x":500,"y":820,"wires":[]},{"id":"6cb25574.90cd9c","type":"debug","z":"f55488e2.6e7978","name":"QueryError","active":true,"console":"false","complete":"true","x":290,"y":880,"wires":[]},{"id":"6e12368a.65a8f8","type":"http in","z":"f55488e2.6e7978","name":"Delete","url":"/api/:salesOrganizationCD/:counterBrandCD","method":"delete","upload":false,"swaggerDoc":"","x":90,"y":660,"wires":[["ecd660de.193a9","17b2cb54.72bd85"]]},{"id":"ecd660de.193a9","type":"debug","z":"f55488e2.6e7978","name":"DeleteIn","active":true,"console":"false","complete":"true","x":240,"y":720,"wires":[]},{"id":"17b2cb54.72bd85","type":"function","z":"f55488e2.6e7978","name":"LoopStart","func":"if (msg.loop == null) {\n    msg.orgPrm = msg.payload;\n    msg.loop = 0;\n    msg.results = [];\n}\nmsg.data = msg.orgPrm[msg.loop];\n\nreturn msg;","outputs":1,"noerr":0,"x":280,"y":660,"wires":[["32c05556.79913a"]]},{"id":"32c05556.79913a","type":"function","z":"f55488e2.6e7978","name":"パラメータ更新用","func":"msg.params = {\n\tsalesOrganizationCD : msg.req.params.salesOrganizationCD,\n\tcounterBrandCD : msg.req.params.counterBrandCD,\n\tcontactCD: msg.data.contactCD\n};\n\nreturn msg;","outputs":1,"noerr":0,"x":510,"y":660,"wires":[["31d3abc4.782cb4"]]},{"id":"31d3abc4.782cb4","type":"node-red-contrib-mssql-ps","z":"f55488e2.6e7978","server":"1bd6dc41.146bc4","debug":false,"params":[{"paramname":"salesOrganizationCD","paramtype":"VarChar","paramoptsone":"4","paramoptstwo":""},{"paramname":"counterBrandCD","paramtype":"VarChar","paramoptsone":"2","paramoptstwo":""},{"paramname":"contactCD","paramtype":"Int","paramoptsone":"","paramoptstwo":""}],"sql":"DELETE FROM M_Contact\nOUTPUT deleted.MCNTCT_ContactCD\nWHERE\n\tMCNTCT_SalesOrganizationCD = @salesOrganizationCD\n\tAND MCNTCT_CounterBrandCD = @counterBrandCD\n\tAND MCNTCT_ContactCD = @contactCD\n","name":"削除クエリ","x":730,"y":660,"wires":[["a800ecf2.0c787"]]},{"id":"a800ecf2.0c787","type":"function","z":"f55488e2.6e7978","name":"LoopEnd","func":"for (var rec in msg.payload) {\n    msg.results.push(msg.payload[rec].MCNTCT_ContactCD);\n}\n//msg.results.push(msg.payload);\n\nmsg.loop += 1;\n\nif (msg.loop < msg.orgPrm.length) {\n    return [msg, null];\n} else {\n    msg.payload = msg.results;\n    return [null, msg];\n}\n","outputs":"2","noerr":0,"x":480,"y":720,"wires":[["17b2cb54.72bd85"],["7741719.b703e9","294e62da.66972e"]]},{"id":"7741719.b703e9","type":"http response","z":"f55488e2.6e7978","name":"DeleteRes","statusCode":"","headers":{},"x":730,"y":720,"wires":[]},{"id":"294e62da.66972e","type":"debug","z":"f55488e2.6e7978","name":"DeleteOut","active":true,"console":"false","complete":"true","x":720,"y":760,"wires":[]},{"id":"4d04c08c.f9cdd","type":"http in","z":"f55488e2.6e7978","name":"Get","url":"/api/:salesOrganizationCD/:counterBrandCD/:contactCD","method":"get","upload":false,"swaggerDoc":"","x":90,"y":220,"wires":[["2fafacc4.0feaf4","eaea27b0.bee608"]]},{"id":"2fafacc4.0feaf4","type":"function","z":"f55488e2.6e7978","name":"パラメータ検索用","func":"msg.params = {\n\tsalesOrganizationCD : msg.req.params.salesOrganizationCD,\n\tcounterBrandCD : msg.req.params.counterBrandCD,\n\tcontactCD: msg.req.params.contactCD\n};\n\nreturn msg;\n","outputs":1,"noerr":0,"x":270,"y":220,"wires":[["33599844.845908"]]},{"id":"33599844.845908","type":"node-red-contrib-mssql-ps","z":"f55488e2.6e7978","server":"1bd6dc41.146bc4","debug":false,"params":[{"paramname":"salesOrganizationCD","paramtype":"VarChar","paramoptsone":"4","paramoptstwo":""},{"paramname":"counterBrandCD","paramtype":"VarChar","paramoptsone":"2","paramoptstwo":""},{"paramname":"contactCD","paramtype":"Int","paramoptsone":"","paramoptstwo":""}],"sql":"SELECT\n\tMCNTCT_SalesOrganizationCD,\n\tMCNTCT_CounterBrandCD,\n\tMCNTCT_ContactCD,\n\tMCNTCT_ContactName,\n\tMCNTCT_OrderDisplay,\n\tMCNTCT_ActiveFlg,\n\tMCNTCT_FlgChangeDate,\n\tMCNTCT_Note,\n\tMCNTCT_UpdateEmployeeCD,\n\tMCNTCT_UpdateDatetime\nFROM\n\tM_Contact\nWHERE\n\tMCNTCT_SalesOrganizationCD = @salesOrganizationCD\n\tAND MCNTCT_CounterBrandCD = @counterBrandCD\n\tAND MCNTCT_ContactCD = @contactCD\n","name":"検索クエリ","x":490,"y":220,"wires":[["442b3dcb.9540a4","2c497f5b.d2134"]]},{"id":"442b3dcb.9540a4","type":"http response","z":"f55488e2.6e7978","name":"GetRes","statusCode":"","headers":{},"x":720,"y":220,"wires":[]},{"id":"2c497f5b.d2134","type":"debug","z":"f55488e2.6e7978","name":"DbgGetOut","active":true,"console":"false","complete":"true","x":730,"y":260,"wires":[]},{"id":"eaea27b0.bee608","type":"debug","z":"f55488e2.6e7978","name":"DbgGetIn","active":true,"console":"false","complete":"true","x":240,"y":260,"wires":[]}]